body
{
    /*background-image: url("images/bgImg.jpg"); /* Courtesy of: https://pixabay.com/illustrations/technology-computer-background-7969801/ */
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;

    /*below code hides the scroll bar from appearing when the duck flies across the screen*/
    overflow-x: hidden;
}

.shadow
{
    text-shadow: 1px 1px 2px black;
}

.subtitle
{
    /*reset the position*/
    left: 0;
    right: 0;

    font-family: 'Afacad';
    color: #5692ad;
    position: fixed;
    text-align: center;
    padding-top: 1.5%;
    z-index: 4;
}

#jokeTry
{
    font-family: 'Afacad';
    color: #000000;
    position: relative;
    text-align: center;
    margin-top: -2.8%;
    margin-bottom: 0.6%;
    z-index: 4;
    opacity: 1;
    transition: opacity 1s ease;
}

.bodyText
{
    color: white;
    background-color: rgb(5, 4, 56);
    padding-top: 3%;
    padding-bottom: 3%;
}

object
{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    margin-bottom: 0.5%;
}

a, a:link, a:visited
{
    text-decoration: none;
    font-size: 25px;
    color: #000000;
}

a:hover
{
    color: #5692ad;
}

h1
{
    margin-top: 2%;
    text-align: center;
    font-size: 50px;
    letter-spacing: .1rem;
    font-family: 'Playfair Display';
    color: black;
    width: auto;
    height: auto;
}

p
{
    text-align: center;
    font-size: 20px;
    letter-spacing: .1rem;
    font-family: 'Afacad';
    color: #000000;
    width: auto;
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
}

#screenShot1
{
    display: block;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 40%;
    border-style: solid;
    border-width: 5px;
    border-color: #4b81b3;
    border-radius: 20px;
    margin-bottom: 0.5%;
    /*opacity: 0;*/
}

#screenShot2
{
    display: block;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 40%;
    border-style: solid;
    border-width: 5px;
    border-color: #4b81b3;
    border-radius: 20px;
    margin-bottom: 0.5%;
    /*opacity: 0;*/
}

#header
{
    text-align: center;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    width: 100%;
    margin-top: -1%;
    z-index: 3;
}

#belowMargin
{
    position: relative;
}

#belowMargin2
{
    position: relative;
    background: #ffffff;
    width: 100%;
    margin-bottom: 0%;
    z-index: -1;
}

#videoBackground
{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
    min-width: 100%; 
    min-height: 100%;
}

#pdf
{
    /*opacity: 0;*/
}

#jokeGif
{
    position: absolute;
    left: -350px;
}

#githubLogo
{
    z-index: 3;
    /* position: fixed; */
    width: 8%;
    padding-left: 15px;
}

#name
{
    font-size: 20px;;
    color: white;
}

#linkedLogo
{
    z-index: 3;
    /* position: fixed; */
    width: 10%;
    padding-right: 15px;
}

#rBG
{
    background: #e0e0e0;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: auto;
    margin-bottom: 0%;
    padding-bottom: 2%;
    z-index: -1;
}

#profilePic
{
    content: url("images/avatar.png");
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    border-width: 6px;
    border-style: solid;
    border-radius: 9em;
}

#profilePic:hover
{
    content: url("images/profilePixelated.png");
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    border-width: 6px;
    border-style: solid;
    border-radius: 9em;
}

/* for laptop screens */
#resume
{
    content: url("images/JeremyThummel_Resume_2024_May_blur.png");
    width: 70%;
    height: 280px;
    overflow: hidden;
    object-fit: cover;
    object-position: 50% 6%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition:
        object-position 1.5s ease;
}

/* for slim / phone screens */
#phoneViewResume
{
    content: url("images/JeremyThummel_Resume_2024_May.png");
    width: 70%;
    height: auto;
}

#resume:hover
{
    content: url("images/JeremyThummel_Resume_2024_May.png");
    height: auto;
    object-position: 50% 20%;
}

/* TIMELINE STYLES */
/* inspired by and using code from: https://www.educative.io/answers/how-to-create-a-timeline-in-html */

.hideElements *::after
{
    display: none;
}

.timeline
{
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
  }
  
.timeline::after
{
    content: '';
    position: absolute;
    width: 2px;
    background-color: #000;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
    z-index: 1;
}
  
.timeline-item
{
    position: relative;
    margin-bottom: 50px;
}

/* Code for timeline circles below */
.timeline-item::after
{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #000;
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
    border-radius: 50%;
    top: 60;
    left: 50%;
    margin-left: -9px; /* Change this value according to width and height to make it visually appealing. */
    z-index: 2;
    transition:
        width 0.5s ease,
        height 0.5s ease,
        margin-left 0.5s ease,
        background-color 0.5s ease,
        border-color 0.5s ease,
        top 1s ease;
}

/* Code that changes the appearence of the timeline circle when hovering an event is below */
.timeline-item:hover::after {
    width: 25px;
    height: 25px;
    margin-left: -14px;
    background-color: #e0e0e0;
    border-color: #000;
    top: 300;
}
  
.timeline-item.left .timeline-content
{
    left: 65%;
}
  
.timeline-item.right .timeline-content
{
    left: -10%;
}
  
.timeline-content
{
    position: relative;
    left: 30px;
}
  
.timeline-date
{
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: 'Playfair Display';
}
  
.timeline-description
{
    margin-bottom: 10px;
    font-size: 25px;
    font-family: 'Afacad';
}

#timelineHeader
{
    /*this style will be changed in js*/
}

#ss1
{
    width: 50%;
}

#ss2
{
    width: 50%;
}

#ss3
{
    width: 50%;
}

#ss4
{
    width: 50%;
}

#ss5
{
    width: 50%;
}

.codingLanguages
{
    font-style: italic;
    font-family: 'Afacad';
    font-size: 20px;
}

.javaLogo
{
    width: 4.5%;
}

.htmlLogo
{
    width: 5%;
}

.cssLogo
{
    width: 4.5%;
}

.jsLogo
{
    width: 5%;
}

.cLogo
{
    width: 5%;
}

.pythonLogo
{
    width: 5%;
}

/* END OF TIMELINE STYLES */

/* ANIMTATIONS */

.fadingIn
{
	animation: fade 2s;
}

.fadingInSlower
{
	animation: fade 8s;
}

@keyframes fade
{
	from
	{
		opacity: 0;
	}

	to
	{
		opacity: 1;
	}
}

/* below code creates an animation class slideInRight that will have an element slide in from the right */
@keyframes slidingInR
{
    from
    {
      transform: translateX(200%);
    }

    to
    {
      transform: translateX(0);
    }
}
  
.slideInRight
{
    animation: slidingInR 2s ease-in-out;
}

/* below code creates an animation class slideInLeft that will have an element slide in from the left */
@keyframes slidingInL
{
    from
    {
      transform: translateX(-200%);
    }

    to
    {
      transform: translateX(0);
    }
}
  
.slideInLeft
{
    animation: slidingInL 2s ease-in-out;
}

/* below code are styles for desktop only or phone only content (decided by pixel width of screen) */
/* desktop only */
@media screen and (max-width: 768px)
{
    .desktopOnly
    {
      visibility: hidden;
      display: none;
    }
}

/* phone only */
@media screen and (min-width: 992px)
{
    .phoneOnly
    {
      visibility: hidden;
      display: none;
    }
}