body
{
    /*background-image: url("images/bgImg.jpg"); /* Courtesy of: https://pixabay.com/illustrations/technology-computer-background-7969801/ */
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}

.shadow
{
    text-shadow: 1px 1px 2px black;
}

.subtitle
{
    font-family: 'Afacad';
    margin-top: -26px;
    color: #5692ad;
}

.bodyText
{
    color: white;
    background-color: rgb(5, 4, 56);
    padding-top: 3%;
    padding-bottom: 3%;
}

.fadingIn
{
	animation: fade 2s;
}

.fadingInSlower
{
	animation: fade 8s;
}

@keyframes fade
{
	from
	{
		opacity: 0;
	}

	to
	{
		opacity: 1;
	}
}

.slideL
{
    animation: slideL 2s;
}

@keyframes slideL
{
	from
	{
        opacity: 0;
		margin-left: 100%;
	}

	to
	{
        opacity: 1;
		margin-left: 68%;
	}
}

.slideG
{
    animation: slideG 2s;
}

@keyframes slideG
{
	from
	{
        opacity: 0;
		margin-left: 100%;
	}

	to
	{
        opacity: 1;
		margin-left: 22%;
	}
}

object
{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    margin-bottom: 0.5%;
}

a, a:link, a:visited
{
    text-decoration: none;
    font-size: 30px;
    color: #000000;
}

a:hover
{
    color: #5692ad;
}

h1
{
    margin-top: 2%;
    text-align: center;
    font-size: 50px;
    letter-spacing: .1rem;
    font-family: 'Playfair Display';
    color: black;
    width: auto;
    height: auto;
}

p
{
    text-align: center;
    font-size: 20px;
    letter-spacing: .1rem;
    font-family: 'Afacad';
    color: #000000;
    width: auto;
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
}

#screenShot1
{
    display: block;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 40%;
    border-style: solid;
    border-width: 5px;
    border-color: #4b81b3;
    border-radius: 20px;
    margin-bottom: 0.5%;
    /*opacity: 0;*/
}

#screenShot2
{
    display: block;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 40%;
    border-style: solid;
    border-width: 5px;
    border-color: #4b81b3;
    border-radius: 20px;
    margin-bottom: 0.5%;
    /*opacity: 0;*/
}

#header
{
    text-align: center;
    position: fixed;
    background-color: #000000;
    z-index: 2;
    padding-right: 35%;
    padding-left: 35%;
}

#belowMargin
{
    position: relative;
}

#belowMargin2
{
    position: relative;
    background: #ffffff;
    width: 100%;
    margin-bottom: 0%;
    z-index: -1;
}

#videoBackground
{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
    min-width: 100%; 
    min-height: 100%;
}

#pdf
{
    /*opacity: 0;*/
}

#githubLogo
{
    z-index: 3;
    position: fixed;
    width: 8%;
    margin-left: 25%;
    margin-right: auto;
    margin-top: 2%;
}

#name
{
    font-size: 20px;;
    color: white;
}

#githubLogo:hover
{
    /*content: url("images/githubG.png");*/
    z-index: 3;
    position: fixed;
    width: 8%;
    margin-left: 25%;
    margin-right: auto;
    margin-top: 2%;
}

#linkedLogo
{
    z-index: 4;
    position: fixed;
    width: 10%;
    margin-left: 68%;
    margin-top: 2%;
}

#linkedLogo:hover
{
    /*content: url("images/linkedinG.png");*/
    z-index: 4;
    position: fixed;
    width: 10%;
    margin-left: 68%;
    margin-top: 2%;
}

#rBG
{
    background: #e0e0e0;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: auto;
    margin-bottom: 0%;
    padding-bottom: 2%;
    z-index: -1;
}

#profilePic
{
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    border-width: 6px;
    border-style: solid;
    border-radius: 9em;
}

/* TIMELINE STYLES */

.hideElements *::after {
    display: none;
}

.timeline {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
  }
  
.timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: #000;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
}
  
.timeline-item {
    position: relative;
    margin-bottom: 50px;
}
  
.timeline-item::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #000;
    border-radius: 50%;
    top: 0;
    left: 50%;
    margin-left: -10px;
}
  
.timeline-item.left .timeline-content {
    left: 65%;
}
  
.timeline-item.right .timeline-content {
    left: -10%;
}
  
.timeline-content {
    position: relative;
    left: 30px;
}
  
.timeline-date {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: 'Playfair Display';
}
  
.timeline-description {
    margin-bottom: 10px;
    font-size: 25px;
    font-family: 'Afacad';
}

#timelineHeader {
    /*this style will be changed in js*/
}

#ss1 {
    width: 50%;
}

#ss2 {
    width: 50%;
}

#ss3 {
    width: 50%;
}

  /* END OF TIMELINE STYLES */