/*
	Jeremy Thummel, David Cacorovski, SOhail Meghani
	June 18, 2020
	STYLES FOR THE SUMMATIVE
	In this code, we stylize the summative that we have made
*/

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

body{
	background-image: url(assets/images/town.png);
	background-size: 100%
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

h1{
	border-style: outset;
	border-width: 4px;
	text-align: center;
	background: rgba(255,255,255, 0.6);
	color: #00CC90;
	width: 50%;
	position: relative;
	left: 25%;
	border-radius: 20px;
	font-family: 'Press Start 2P';
	text-shadow:
		0px 0px 0 #000,
		0px 0px 0 #000,
		0px 2px 0 #000,
		4px 4px 0 #000;
}

#h1_1{
	padding-top: 10px;
}

h2{
	border-style: outset;
	border-width: 4px;
	text-align: center;
	background: rgba(255,255,255, 0.6);
	color: #00A3D5;
	width: 50%;
	position: relative;
	left: 25%;
	border-radius: 20px;
	font-family: 'Press Start 2P';
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 20px;
	text-shadow:
		0px 0px 0 #000,
		0px 0px 0 #000,
		0px 2px 0 #000,
		2px 2px 0 #000;
}

#h2_2{
	color: #00A3D5;
	width: 85%; 
	left: 7%
}

p{
	border-style: outset;
	border-width: 4px;
	text-align: center;
	background: rgba(255,255,255, 0.6);
	color: black;
	width: 50%;
	position: relative;
	left: 25%;
	border-radius: 20px;
	font-family: 'Press Start 2P';
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 16px;
}

#frogArt1{
	width: 300px;
	left: 35.5%;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
}
a{
	position: relative; 
	width: 75%;
	left: 24%;
	margin: 1%;
	border-style: outset;
	border-width: 4px;
	padding: 5px;
	text-align: center;
	color: #00CC90;
	font-family: 'Press Start 2P';
	background: rgba(255,255,255, 0.6);
	text-shadow:
		0px 0px 0 #000,
		0px 0px 0 #000,
		0px 2px 0 #000,
		2px 2px 0 #000;
}

#avatar{
	display: block;
	position: relative;
	border-width: 5px;
	height: 250px;
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(255,255,255, 0.6);
	border-style: outset;
	border-color: black;
	border-radius: 40px;
}

#screenShot{
	display: block;
	position: relative;
	border-width: 10px;
	margin-left: auto;
	margin-right: auto;
	border-style: outset;
	border-color: black;
	border-radius: 40px;
}

#screenShot2{
	display: block;
	position: relative;
	border-width: 10px;
	margin-left: auto;
	margin-right: auto;
	border-style: outset;
	border-color: black;
	border-radius: 40px;
	size: 80px;
}

figcaption{
	border-style: outset;
	border-width: 4px;
	text-align: center;
	background: rgba(255,255,255, 0.6);
	color: #00A3D5;
	width: 50%;
	position: relative;
	left: 25%;
	border-radius: 20px;
	font-family: 'Press Start 2P';
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 14px;
	text-shadow:
		0px 0px 0 #000,
		0px 0px 0 #000,
		0px 2px 0 #000,
		2px 2px 0 #000;
}